{% extends 'admin/baseBack.html.twig' %}

{% block title %}
  {{ 'title.msg.after.send'|trans }}
{% endblock %}

{% block content %}
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              {{ 'msg.after.send'|trans|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
