

 {# modal info #}
   
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">{{title_modal}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            <p class="modal-message">
            {% if message_modal is defined %}
  
                {{message_modal}} <b><span class="var-message"></span></b>

            {% endif %}	  

            </p> 
              
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">{{label_button|trans}}</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{'close'|trans}}</button>
            </div>
            
        </div>
    </div>
</div>

 
 {# modal alert delete #}
  
 

